@media only screen and (min-width: 480px) {
	/* ABOUT ME */
	#profile-pic {
		height: auto;
		margin: 1.25em auto;
		width: 30%;
	}

	#profile-pic img {
		border-radius: 0.5em;
		height: auto;
		width: 100%;
	}

	/* WORK */
	/* GRID LAYOUT */
	#cards-container {
		display: grid;
		grid-template-areas:
			'first'
			'first'
			'second'
			'third'
			'fourth'
			'fifth';
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
	}

	#first {
		grid-area: first;
		height: 100%;
	}

	#second {
		grid-area: second;
		height: 100%;
	}

	#third {
		grid-area: third;
	}

	#fourth {
		grid-area: fourth;
	}

	#fifth {
		grid-area: fifth;
	}

	.card-wrapper {
		display: block;
		width: 40%;
	}
}

@media only screen and (min-width: 768px) {
	/* GRID LAYOUT */
	#cards-container {
		display: grid;
		grid-template-areas:
			'first'
			'first'
			'second'
			'third'
			'fourth'
			'fifth';
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
	}

	#first {
		grid-area: first;
		height: 100%;
	}

	#second {
		grid-area: second;
		height: 100%;
	}

	#third {
		grid-area: third;
	}

	#fourth {
		grid-area: fourth;
	}

	#fifth {
		grid-area: fifth;
	}
}

@media only screen and (min-width: 1024px) {
	/* LAYOUT ON HEADER */
	header {
		align-items: center;
		border-bottom: 0.25em solid var(--granny-apple);
		display: flex;
		justify-content: space-between;
	}

	h1 {
		border-bottom: none;
		display: inline-block;
		margin: 0;
	}

	#header-nav {
		display: inline-block;
		justify-self: flex-end;
	}

	/* GRID-LAYOUT  ON MAIN*/
	main {
		display: grid;
		grid-template-areas:
			'main-background main-background main-background'
			'about-me work work'
			'contact-me contact-me contact-me';
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: 0.5fr 1.5fr 1fr;
	}

	#main-background {
		grid-area: main-background;
		height: 100%;
	}

	#about-me {
		grid-area: about-me;
	}

	#work {
		grid-area: work;
	}

	#contact-me {
		grid-area: contact-me;
	}

	/* GRID-LAYOUT ON WORK */
	#cards-container {
		display: grid;
		grid-template-areas:
			'first first second'
			'first first second'
			'third fourth fifth';
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	#first {
		grid-area: first;
		height: 100%;
	}

	#second {
		grid-area: second;
		height: 100%;
	}

	#third {
		grid-area: third;
	}

	#fourth {
		grid-area: fourth;
	}

	#fifth {
		grid-area: fifth;
	}

	/* STYLE */
	header,
	footer {
		height: 10vh;
	}

	#main-background,
	#about-me,
	#work,
	#contact-me,
	form {
		border-bottom: none;
		margin-top: 0;
	}

	/* MAIN BACKGROUND */
	#main-background span {
		background-color: var(--granny-apple);
		color: var(--lochmara);
	}

	/* HEADINGS */
	#about-me .section-heading,
	#contact-me .section-heading {
		border-bottom-color: var(--burnt-sienna);
		color: var(--burnt-sienna);
	}

	/* ABOUT ME */
	#about-me {
		background-color: var(--lochmara);
		border-bottom: 0.25em solid var(--granny-apple);
		border-right: 0.25em solid var(--granny-apple);
		position: relative;
	}

	#profile-pic {
		/* bottom: 15%;
		left: 15%;
		position: absolute; */
		width: 70%;
	}

	/* WORK */
	#work {
		border-bottom: 0.25em solid var(--granny-apple);
	}

	/* CONTACT ME */
	#contact-me {
		background-color: var(--lochmara);
	}

	/* FORM */
	form {
		margin: 1em auto;
		width: 70%;
	}

	/* BUTTON */
	#send-btn {
		background-color: var(--burnt-sienna);
		color: var(--granny-apple);
	}

	#send-btn:hover {
		background-color: var(--granny-apple);
		border-color: var(--burnt-sienna);
		color: var(--burnt-sienna);
		transition: all 0.5s;
		transition-timing-function: ease-in-out;
	}

	#send-btn:active {
		background-color: var(--lochmara);
		border-color: var(--burnt-sienna);
		color: var(--burnt-sienna);
		transition: all 0.5s;
		transition-timing-function: ease-out;
	}

	/* FOOTER */
	footer {
		border-top: 0.25em solid var(--granny-apple);
	}
}

@media only screen and (min-width: 1440px) {
	body {
		font-size: 1.25rem;
		line-height: 1.2;
	}

	main {
		display: grid;
		grid-template-areas:
			'main-background main-background main-background'
			'about-me work work'
			'contact-me contact-me contact-me';
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: 1fr 1.5fr 1fr;
	}
}
