/* This is the main style, which has been made with an approach of mobile first, for other queries, check on the CSS folder. */
:root {
	/* COLORS */
	--lochmara: rgb(4, 136, 189);
	--granny-apple: rgb(211, 247, 232);
	--burnt-sienna: rgb(235, 97, 62);

	/* FONTS */
}

body {
	background-color: var(--granny-apple);
	font-family: 'Jost', sans-serif;
}

.section-heading {
	border-bottom: 0.25em solid var(--lochmara);
	color: var(--lochmara);
	display: inline-block;
	font-size: 1.5em;
	padding: 0.25em;
}

/* HEADER */
header {
	background-color: var(--lochmara);
}

h1 {
	border-bottom: 3px solid var(--granny-apple);
	color: var(--burnt-sienna);
	font-size: 1.75rem;
	font-weight: 600;
	margin: auto;
	padding: 0.25em;
	text-align: center;
}

/* NAVIGATOR */
#header-nav ul {
	color: var(--granny-apple);
	display: flex;
	flex-wrap: wrap;
	font-weight: 200;
	gap: 1em;
	justify-content: center;
	padding: 0.5em;
}

/* LINKS ON NAV*/
#header-nav a {
	color: var(--granny-apple);
	text-decoration: none;
}

#header-nav a:visited {
	color: var(--granny-apple);
}

#header-nav a:hover {
	color: var(--burnt-sienna);
}

/* MAIN */
main {
	display: flex;
	flex-direction: column;
}

/* MAIN BACKGROUND */
#main-background {
	background-image: url(../images/morgan-codes-wallpaper.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 8em;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

#main-background span {
	background-color: var(--burnt-sienna);
	bottom: 0;
	color: var(--granny-apple);
	font-size: 1.25em;
	padding: 0.25em;
	position: absolute;
}

/* ABOUT ME */
#about-me {
	background-color: var(--burnt-sienna);
	border-bottom: 0.25em solid var(--lochmara);
	margin-top: 1em;
}

.about-me-text {
	margin: 1em;
}

#profile-pic {
	height: auto;
	margin: 1.25em auto;
	width: 80%;
}

#profile-pic img {
	border-radius: 0.5em;
	height: auto;
	width: 100%;
}

/* WORK */
#work {
	background-color: var(--burnt-sienna);
	border-bottom: 0.25em solid var(--lochmara);
	margin-top: 1em;
}

#cards-container {
	display: flex;
	flex-flow: column;
	gap: 1em;
	margin: 1em;
}

.work-card {
	background-color: var(--granny-apple);
	height: 25vh;
	position: relative;
	width: 100%;
}

.card-name {
	background-color: var(--granny-apple);
	color: var(--burnt-sienna);
	display: inline-block;
	left: 0;
	padding: 0.25em 1em;
	position: absolute;
	top: 10%;
	z-index: 1;
}

/* BACKGROUND IMAGE */
/* PLACEHOLDER */
.work-card {
	background-image: url(../images/blank.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0.25em;
	box-shadow: 0.5em 0.5em 10px rgba(117, 48, 31);
	transition: all 0.5s;
}

/* WORK CARDS ON HOVER */
.work-card:hover {
	box-shadow: none;
	box-shadow: 0.5em 0.5em 10px rgba(0, 0, 0, 0.7);
	transform: scale(1.025);
	transition: all 0.5s;
	transition-timing-function: ease-out;
	z-index: 10;
}

#first {
	background-image: url(../images/digital-marketing-meeting.jpg);
	/* background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
}

#second {
	background-image: url(../images/spaces-main-page.png);
}

.card-info {
	background-color: var(--granny-apple);
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
	bottom: 0;
	display: inline-block;
	font-size: 0.8rem;
	left: 0;
	padding: 0.5em;
	position: absolute;
	width: 100%;
	z-index: 2;
}

/* CONTACT ME */
#contact-me {
	background-color: var(--burnt-sienna);
	margin-top: 1em;
	width: 100%;
}

/* FORM */
form {
	border-bottom: 0.25em solid var(--burnt-sienna);
	display: flex;
	flex-direction: column;
	margin-top: 1em;
}

label {
	margin-left: 0.8em;
}

input,
textarea {
	background-color: var(--granny-apple);
	border: 2px solid var(--granny-apple);
	border-radius: 5px;
	box-shadow: none;
	font-family: 'Jost', sans-serif;
	font-weight: 300;
	margin: 0.25em 0.75em;
	outline: none;
	padding: 0.125em;
}

input:focus,
textarea:focus {
	border: 2px solid var(--burnt-sienna);
}

#send-btn {
	background-color: var(--lochmara);
	border: 0.125em outset var(--granny-apple);
	border-radius: 10px;
	color: var(--granny-apple);
	margin: 1.5em auto;
	padding: 0.5em;
	transition: all 0.8s;
	width: 8em;
}

/* BUTTON EFFECTS */
#send-btn:hover {
	background-color: var(--lochmara);
	border-color: var(--burnt-sienna);
	box-shadow: 0.5em 0.5em 10px rgb(4, 68, 95, 0.7);
	color: var(--burnt-sienna);
	transform: scale(1.05);
	transition: all 0.8s;
	transition-timing-function: ease-in-out;
}

#send-btn:active {
	background-color: var(--lochmara);
	border-color: var(--granny-apple);
	box-shadow: none;
	color: var(--granny-apple);
	transform: scale(1);
	transition: all 0.25s;
	transition-timing-function: ease-out;
}

/* FOOTER  */
footer {
	background-color: var(--lochmara);
	color: var(--granny-apple);
	padding: 2em;
}

#footer-content {
	display: flex;
}

#footer-content span {
	margin: auto;
}
